* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Public Sans", sans-serif;
}

a {
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
}

button {
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
}

button:focus {
  outline: 0;
}

h1{
  color: hsl(233, 26%, 24%);
  font-size: 50px;
  font-weight: 300;
}

h2{
  color: hsl(233, 26%, 24%);
  font-size: 30px;
  font-weight: 300;
}

h3{
  color: hsl(233, 26%, 24%);
  font-size: 22px;
  font-weight: 300;
}

p {
  color: hsl(233, 8%, 62%);
  font-size: 18px;
  font-weight: 300;
}

section{
  margin-left: 5%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  background-color: white;
  z-index: 2;
}

.hamburger-toggle {
  display: none;
}

.nav-links {
  width: 40%;
}

.nav-links ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-item a {
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  color: hsl(233, 8%, 62%);
}

.nav-button {
  width: auto;
}

.request-invite-button {
  background-image: linear-gradient(
    125deg,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  padding: 13px 30px;
  border-radius: 30px;
  width: auto;
  border: none;
  color: white;
  cursor: pointer;
  transition: ease 1s;
}

.request-invite-button:hover {
  background-image: linear-gradient(
    125deg,
    hsl(192, 70%, 51%),
    hsl(136, 65%, 51%)
  );
}

.easyBankTagLine{
  line-height: 1.6;
}

#headlineSection{
  height: 65vh;
  display: flex;
  background: url(/images/bg-intro-desktop.svg) 550px -250px no-repeat;
  position: relative;
  z-index: -3;
}

.headline-mockups{
  z-index: -1;
  position: relative;
  top: -100px;
  right:-300px;
}

.headline-background{
  overflow: hidden;
  z-index: -1;
  position: absolute;
  right:-200px;
  top:-200px;
}

.headline{
  max-width: 400px;
  min-width: 400px;
  margin-top: 100px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chooseEasyBank{
  width: 50%;
  line-height: 1.6;
  margin-bottom: 70px;
}

.chooseEasyBank h2{
  margin-bottom: 20px;
}

.features{
  display: grid;
}

.individual-feature{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:250px;
  background-color: teal;
}


@media only screen and (max-width: 700px) {
  nav {
    justify-content: space-between;
    padding: 7%;
    height: 60px;
  }
  .nav-button {
    display: none;
  }

  .nav-links {
    display: none;
    width: 90%;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 210px;
    height: 40vh;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    height: 35vh;
    background-color: white;
  }

  .nav-item a {
    color: hsl(233, 26%, 24%);
    font-size: 16px;
  }

  .hamburger-toggle {
    display: flex;
    cursor: pointer;
  }

  #headlineSection{

    background: url(/images/bg-intro-desktop.svg) -300px -500px no-repeat;
    position: relative;
    z-index: -4;
  }

  .headline{
    max-width: auto;
    min-width: auto;
    align-items: center;
    justify-content: center;
    background-color: teal;
    order: 2;
  }

  .headline-mockups{
    width: 50%;
  }

}
