* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Public Sans", sans-serif;
}

a {
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
}

button {
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
}

button:focus {
  outline: 0;
}

h1{
  color: hsl(233, 26%, 24%);
  font-size: 56px;
  font-weight: 300;
}

h2{
  color: hsl(233, 26%, 24%);
  font-size: 40px;
  font-weight: 300;
}

h3{
  color: hsl(233, 26%, 24%);
  font-size: 24px;
  font-weight: 300;
}

h4{
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
}

p {
  color: hsl(233, 8%, 62%);
  font-size: 18px;
  font-weight: 300;
}

section{
  width: 100%;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 80px;
  margin: 0 auto;
  background-color: white;
  z-index: 2;
}

.hamburger-toggle {
  display: none;
}

.nav-links {
  width: 40%;
}

.nav-links ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-item a {
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  color: hsl(233, 8%, 62%);
}

.nav-button {
  width: auto;
}

.request-invite-button {
  background-image: linear-gradient(
    125deg,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  padding: 13px 30px;
  border-radius: 30px;
  width: auto;
  border: none;
  color: white;
  cursor: pointer;
  transition: ease 1s;
}

.request-invite-button:hover {
  background-image: linear-gradient(
    125deg,
    hsl(192, 70%, 51%),
    hsl(136, 65%, 51%)
  );
}

.easyBankTagLine{
  line-height: 1.6;
}

#headlineSection{
  width: 100%;
  margin: 0 auto;
  height: 65vh;
  display: flex;
  background: url(/images/bg-intro-desktop.svg) 550px -250px no-repeat;
  position: relative;
  z-index: -3;
}

.headline-section-wrap{
  width: 80%;
  margin: 0 auto;
}

.headline-mockups{
  z-index: -1;
  position: relative;
  top: -100px;
  right:-300px;
}

.headline-background{
  overflow: hidden;
  z-index: -1;
  position: absolute;
  right:-200px;
  top:-200px;
}

.headline{
  max-width: 400px;
  min-width: 400px;
  margin-top: 100px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-wrap{
  width: 80%;
  margin: 0 auto;
}

.feature-section{
  background-color: #F4F5F7;
}

.chooseEasyBank{
  width: 70%;
  line-height: 1.6;
  margin-bottom: 70px;
}

.chooseEasyBank h2{
  margin-bottom: 20px;
  padding-top: 96px;
}

.features{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-gap: 30px;
  padding-bottom: 94px;
}

.individual-feature{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.feature-icon{
  padding-bottom: 50px;
}

.feature-tag{
  line-height: 1.6;
  padding-top: 30px;
}

.articles-section{
  background-color: #FAFAFA;
}

.articles-section-wrap{
  width: 80%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.individual-article{
  background-color: white;
  width: 100%;
}

.article-photo img{
  width: 100%;
  max-height: 200px;
  height: auto;
  padding-bottom: 15px;
  border-radius:5px;
}

.articles-heading{
  padding-bottom: 60px;
}

.articles{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-gap: 30px;
}

.author p {
  font-size: 10px;
  padding-bottom: 15px;
}

.article-tag p{
  font-size: 13px;
  line-height: 1.4;
  padding-top: 15px;
  padding-bottom: 25px;
}

.author, .article-title,
.article-tag {
  width: 90%;
  margin: 0 auto;
}




@media only screen and (max-width: 700px) {

  h1{
    font-size: 40px;
  }

  h2{
    font-size: 32px;
  }

  h3{
    font-size: 20px;
  }

  p{
    font-size: 15px;
  }

  nav {
    justify-content: space-between;
    padding: 7%;
    height: 60px;
  }
  .nav-button {
    display: none;
  }

  .nav-links {
    display: none;
    width: 80%;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 320px;
    height: 40vh;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    height: 35vh;
    background-color: white;
  }

  .nav-item a {
    color: hsl(233, 26%, 24%);
    font-size: 16px;
  }

  .hamburger-toggle {
    display: flex;
    cursor: pointer;
  }

  #headlineSection{
    background: transparent;
  }

  .headline{
    max-width: auto;
    min-width: auto;
    align-items: center;
    justify-content: center;
    background-color: teal;
    order: 2;
  }

  .headline-mockups{
    width: 50%;
  }

  .section-wrap{
    width:90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .chooseEasyBank{
    width: 95%;
    text-align: center;
  }

  .features{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .individual-feature{
    width: 95%;
    text-align: center;
    padding-bottom: 40px;
  }

  .feature-icon{
    padding-bottom: 20px;
  }

}
